::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

.ant-progress-text {
  color: white !important;
}

.translate-button {
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.translate-button:hover {
  /* background-color: #45a049; */
}

/* Styling for the translate dropdown */
#google_translate_element {
  display: none;
  /* Hidden initially */
  position: absolute;
  top: 50px;
  /* Position below the button */
  right: 0;
  z-index: 1000;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 200px;
  box-sizing: border-box;
}

/* Make the widget look like a dropdown */
#google_translate_element select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.spinner {
  background-color: black !important;
}

/* Add this to your global stylesheet */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


/* 
.VIpgJd-ZVi9od-ORHb {
  display: none !important;
} */